.content-wrapper {
  padding: 1rem 1.5rem;
  margin-top: 0.7rem;
}

.health-checklist {
  margin-top: 1rem;
}

.list-content {
  margin: 0.25rem 0;
  background-color: white;
  padding: 0.725rem 0.3rem;
}

.header-wrapper {
  padding: 2rem;
  background-color: thistle;
  height: 5rem;
}

.form-wrapper {
  margin-top: 0.3rem;
}

.submit-button {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 21rem;
}

.input-vitals {
  margin: 2rem 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.input-vitals input {
  height: 2rem;
  width: 72%;
  margin-top: 0.5rem;
  border: 1px solid #e0e3ea;
  box-shadow: 0px 2px 0px 0px #e0e3ea;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  outline-style: none;
}

.input-vitals label {
  font-weight: 400;
  font-size: 1rem;
}

.input-history {
  margin: 0.725rem 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.input-history input {
  height: 2rem;
  width: 91%;
  margin-top: 0.5rem;
  border: 1px solid #e0e3ea;
  box-shadow: 0px 2px 0px 0px #e0e3ea;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 500;
  outline-style: none;
}

.input-history label {
  font-size: 1rem;
}

.history-list-content {
  margin: 1.8rem 0 0.5rem 0;
  background-color: white;
  padding: 1rem 0.3rem;
}

.preexisting-list-content {
  margin: 1rem 0 0.5rem 0;
  background-color: white;
  padding: 1rem 0.3rem;
  font-size: 1rem;
}

.history-list-content label {
  font-size: 1rem;
}

.page-title{
  color: #22335e;
  margin-top: 0px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2rem;
  word-spacing: 0.125rem;
}

.blood-pressure {
  display: flex;
  width: 82%;
}

.bp {
  width: 9.5rem;
  height: 5rem;
  margin-right: 0.5rem;
}

.text-greeting {
  font-size: 1rem;
  color: #959fb7;
  line-height: 1.5rem;
  text-align: center;
}

.initial-page-wrapper {
  background-color: blanchedalmond;
  height: 95vh;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.initial-page-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial-page-content button {
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
}

.error-message{
  margin-top: 0.4rem;
  color: red;
  font-size: 0.7rem;
}