.content-wrapper {
  padding: 1rem 1rem;
  /* background-color: bisque; */
  margin-top: 0.7rem;
  /* height: 100%; */
  /* width: 84vw; */
}

.health-checklist {
  margin-top: 1rem;
}

.list-content {
  margin: 0.25rem 0;
  background-color: white;
  padding: 0.725rem 0.3rem;
}

.header-wrapper {
  padding: 2rem;
  background-color: thistle;
  height: 5rem;
}

.form-wrapper {
  margin-top: 0.3rem;
}

.form-content-wrapper {
  /* padding: 0.5rem; */
}

.submit-button {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 21rem;
}

.input-vitals {
  margin: 2rem 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.input-vitals input {
  height: 4rem;
  margin-top: 0.5rem;
}

.blood-pressure {
  display: flex;
  width: 10rem;
}

.bp {
  width: 9.5rem;
  height: 5rem;
  margin-right: 0.5rem;
}

.text-greeting {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
}

.initial-page-wrapper {
  background-color: blanchedalmond;
  height: 95vh;
}

.name-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* .name-container span {
  margin: 1rem;
} */

.initial-page-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 1rem; */
}

.initial-page-content button {
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
}