html {
  background-color: #f2f7fd;
}
.content-wrapper {
  padding: 1rem 1.5rem;
  margin-top: 0.7rem;
  min-height: 70vh;
}

.health-checklist {
  margin-top: 1rem;
}

.list-content {
  margin: 0.25rem 0;
  background-color: white;
  padding: 0.725rem 0.3rem;
}

.header-wrapper {
  padding: 2rem;
  background-color: thistle;
  height: 5rem;
}

.form-wrapper {
  margin-top: 0.3rem;
  max-width: 620px;
  margin: auto;
}

.submit-button {
  margin: 1rem 0;
  padding: 0.5rem;
  width: 21rem;
}

.input-vitals {
  margin: 2rem 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.input-vitals input {
  height: 2rem;
  width: 72%;
  margin-top: 0.5rem;
  border: 1px solid #e0e3ea;
  box-shadow: 0px 2px 0px 0px #e0e3ea;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
  outline-style: none;


}

.input-vitals label {
  font-weight: 400;
  font-size: 1rem;
  color: #657396;
}

.input-history {
  margin: 0.725rem 0;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  height: 5rem;
}

.input-history input {
  height: 2rem;
  width: 91%;
  margin-top: 0.5rem;
  border: 1px solid #e0e3ea;
  box-shadow: 0px 2px 0px 0px #e0e3ea;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  outline-style: none;
  color: #22335e;
}

.input-history label {
  font-size: 1rem;
}

.history-list-content {
  margin-top: 0.5rem;
  background-color: white;
  padding: 1rem 0rem 0.3rem;
}

.preexisting-list-content {
  margin-top: 0.3rem;
  background-color: white;
  padding: 1rem 0.3rem;
  font-size: 0.85rem;
}
.preexisting-list-content > label {
  margin-left: 0.4em;
  font-size: 1rem;
}
.history-list-content label {
  font-size: 1rem;
}

.height-input {
  margin-bottom: 1rem;
}

.page-title {
  color: #22335e;
  margin-top: 0px;
  font-style: normal;
  font-size: 1.2rem;
  word-spacing: 0.125rem;
  font-weight: 600;
}

.blood-pressure {
  display: flex;
  width: 82%;
  position: relative;
}

.height-wrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
  position: relative;
}
label.height-label{
  position: absolute;
  top:42%;
  right:5%;
  font-weight: bold;
  color:#657396;
  font-size: 1.125rem;
}
.height-label:first-of-type{
  right:55%;
}
input.bp {
  height: 1.5rem;
  margin-right: 0.5rem;
}
input.bp:last-of-type{
  margin-right: 0rem;
}

.text-greeting {
  font-size: 1rem;
  color: #959fb7;
  line-height: 1.5rem;
  text-align: center;
}

.initial-page-wrapper {
  background-color: blanchedalmond;
  height: 95vh;
}

.name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.188rem 1.5rem;
}

.thanks-message{
  padding: 3rem;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thanks-text{
  font-size: 1.5rem;
  font-weight: 500;
  color: #22335E;
  text-align: center;
}

.covid-diagnosed{
  padding: 1rem 0;
}

.covid-tittle{
  font-size: 1rem;
  line-height: 1.625rem;
  color: #1F3259;
  font-weight: 500;
}

.covid-buttons{
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}

.covid-button{
  width: 48%;
  height: 5.5rem;
  background-color: #ffffff;
  border: 1px solid #C5CDE1;
  box-shadow: 0px 3px 3px rgba(159, 167, 186, 0.2);
  border-radius: 3px;
}

.yes-diagnosed:focus{
  background-color: #F0FAF5;
  border: 1px solid #48B07A;
}

.yes-diagnosed:active{
  background-color: #F0FAF5;
  border: 1px solid #48B07A;
}

.date-diagnosed{
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.date-of-diagnosis{
  height: 2rem;
  width: 91%;
  margin-top: 0.5rem;
  border: 1px solid #e0e3ea;
  box-shadow: 0px 2px 0px 0px #e0e3ea;
  border-radius: 3px;
  padding: 1rem;
  font-size: 1.125rem;
  font-weight: 600;
  outline-style: none;
  color: #22335e;
}
.initial-page-content {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.initial-page-content button {
  margin-top: 2rem;
  width: 10rem;
  height: 3rem;
}

.error-message {
  margin-top: 0.4rem;
  color: red;
  font-size: 0.7rem;
}
.history-list-content>label{
  font-size: 1rem;
  margin-left: 0.4rem;
}
.wrapper{
  min-height: 100vh;
}
.initial-page-wrapper{
  height: 100vh;
  box-sizing: border-box;
}
/*@Shreeti can be removed ** START** just added for the heading for Vaccination*/
.history-list-content:first-of-type{

  background-color: transparent;
}
.history-list-content:first-of-type::after {
  content: " Vaccination History";
  margin-top: 3.5rem;
  display: block;
  font-size: 1.2rem;
  font-weight: 600;

}
/*@Shreeti can be removed ** END** just added for the heading for Vaccination*/
.text-center.dull-text{
  text-align: center;
  padding-top: 0;
}